<%= error_messages_for :quote %>

<% form_for @quote do |form| %>
  <fieldset>
    <ol>
      <li>
        <span class="hide"><%= form.label :text %></span>
        <%= form.text_area :text %>
      </li>
    </ol>
    
    <%= submit_tag submit_value %>
  </fieldset>
<% end %>

<h2>Formatting</h2>

<ul>
  <li>Format is <code>Name&#58; Line</code> or <code>* Action</code></li>
  <li><em>_emphasised_</em> and <em>*italtic*</em> text.</li>
  <li><strong>**stong**</strong> and <strong>__bold__</strong> text.</li>
  <li>We'll strip leading and trailing whitespace.</li>
</ul>
