<% form_for @quote do |form| %>
  <fieldset>
    <legend>Quote</legend>
    
    <ol>
      <li>
        <%= form.label :text %>
        <%= form.text_area :text %>
      </li>
    </ol>
    
    <%= submit_tag submit_value %>
  </fieldset>
<% end %>

<h2>Formatting</h2>

<ul>
  <li>Optimal format is <code>Name&#58; Line</code>. Your mileage may vary with other formats.</li>
  <li>We'll strip leading and trailing whitespace.</li>
  <li><em>_emphasised_</em> and <em>*italtic*</em> text.</li>
  <li><strong>**stong**</strong> and <strong>__bold__</strong> text.</li>
</ul>
