<blockquote>
  <p>
    <% quote.lines.each do |line| %>
      <span class="nick <%= line.colour %> clear_left"><%= h line.nick %></span>
      <span class="text"><%= render_italic_and_bold line.text %></span><br/>
    <% end %>
  </p>
</blockquote>
