<h1>Quotes</h1>

<p><%= link_to 'New quote', new_quote_path %></p>

<ol>
  <% @quotes.each do |quote| %>
    <li>
      <%= render :partial => 'quote', :locals => { :quote => quote } %>
    </li>
  <% end %>
</ol>
