<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Quotes</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="all" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.timers.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>

  <body>    
    <%= yield %>
    
    <div id="footer">
      <p class="left">
        <a href="http://ash.ms">Ashley</a> conceived this, 
        <a href="http://tatey.com">Tate</a> worked his magic...<br/>
        and then <a href="http://klepas.org">Pascal</a> came and squirted design everywhere. <span class="umberlla">&#9730;</span>
      </p>
      <span class="right">
        <a id="top" href="#">Top &uarr;</a>
      </span>
      <div class="clear_both">
      </div>
    </div>
  </body>
</html>
