<h1><a href="/">Quotes</a> &raquo; New</h1>

<form id="new" action="/quotes" method="post">
  <fieldset>
    <ol>
      <li>
        <label for="quote_text" class="hide">Text</label>
        <textarea id="quote_text" name="quote[text]" rows="20" cols="40"></textarea>
      </li>
    </ol>
    
    <input type="submit" value="Submit" />
  </fieldset>
</form>

<h2>Formatting</h2>

<ol>
  <li>Omit timestamps</li>
  <li>Use <em>nick: message</em> or <em>* action</em></li>
  <li>Nicks are colourised for enhancing conversation flow after submission. Ensure they&rsquo;re consistent</li>
</ol>
