<h1><a href="/">Quotes</a> &raquo; New</h1>

<form action="/quotes" method="post">
  <fieldset>
    <ol>
      <li>
        <label for="quote_text" class="hide">Text</label>
        <textarea id="quote_text" name="quote[text]" rows="20" cols="40"></textarea>
      </li>
    </ol>
    
    <input type="submit" value="Create" />
  </fieldset>
</form>

<h2>Formatting</h2>

<ul>
  <li>Format is Name: Line or * Action</li>
  <li>We'll strip leading and trailing whitespace</li>
</ul>
