/* Document and defaults */

html
{
  background: #141414;
}

body
{
  width: 46em;
  max-width: 95%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #ccc;
}

/* Type */

a:link,
a:visited
{
  color: #6c8fbf;
  text-decoration: none;
}

a:hover,
a:focus,
a:active
{
  background: #000;
  color: #ff3366;
}

h1,
h2,
h3,
.large_serif
{
  font-family: 'Georgia', 'DejaVu Serif', 'Times', 'Times New Roman', serif;
}

h1,
h2
{
  font-weight: normal;
}

h1,
h2,
h3
{
  color: #c2e5a6;
}

h1
{
  margin-bottom: 1em;
  font-size: 3em;
}

h2
{
  font-size: 2em;
}

.large_serif
{
  line-height: 1.6em;
  font-size: 1.5em;
}

/* Blocks */

.display_block
{
  display: block;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.clear_both
{
  clear: both;
}

.hide
{
  position: absolute;
  top: -9999em;
  left: -9999em;
}
  
/* Layout */

ul#navigation
{
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

  ul#navigation li
  {
    display: inline;
  }

    ul#navigation li a
    {
      padding: 0.5em 1em;
      background: #222;
      color: #ccc;
    }
    
    ul#navigation li a:hover,
    ul#navigation li a:focus,
    ul#navigation li a:active
    {
      background: #444;
    }

ul#switch
{
  margin: 0;
  padding: 1em 0 0 0;
  text-align: center;
  list-style-type: none;
}

  ul#switch li
  {
    display: inline;
  }
  
    ul#switch li a
    {
      padding: 0.5em;
      font-size: 1.5em;
      color: #6c8fbf;
    }
    
    ul#switch li a:hover,
    ul#switch li a:focus,
    ul#switch li a:active
    {
      background: #000;
      color: #ff3366;
    }
    
ul#quotes
{
  margin: 3em 0 0 0;
  padding: 0;
  list-style-type: none;
}

  ul#quotes li
  {
    border-top: 1px dotted #333;
  }
  
  ul#quotes > li:hover,
  ul#quotes > li.odd:hover
  {
    background: #252525;
  }
  
  ul#quotes li.odd,
  div.quote
  {
    background: #191919;
  }
  
  ul#quotes li.unapproved
  {
    background: #484729;
    border: 1px solid #878342;
    color: #e5de67;
  }
  
  ul#quotes li.unapproved:hover
  {
    background: #605f32;
    border: 1px solid #e5de67;
  }

    ul#quotes li.unapproved span.colour_0,
    ul#quotes li.unapproved span.colour_1,
    ul#quotes li.unapproved span.colour_2,
    ul#quotes li.unapproved span.colour_3,
    ul#quotes li.unapproved span.colour_4,
    ul#quotes li.unapproved ul.meta,
    ul#quotes li.unapproved ul.actions li a:link,
    ul#quotes li.unapproved ul.actions li a:visited
    {
      color: #e5de67;
    }
    
    ul#quotes li.unapproved ul.actions li a:hover,
    ul#quotes li.unapproved ul.actions li a:focus,
    ul#quotes li.unapproved ul.actions li a:active
    {
      color: #fff;
    }
  
    ul#quotes li span.nick,
    div.quote span.nick
    {
      display: block;
      float: left;
      width: 5em;
      margin-right: 1em;
      text-align: right;
    }
  
    ul#quotes li span.text,
    div.quote span.text
    {
      display: block;
      float: left;
      width: 34em;
    }
    
    ul#quotes li ul.actions,
    ul#quotes li ul.meta,
    div.quote ul.actions,
    div.quote ul.meta
    {
      padding-right: 2em;
      font-size: 0.75em;
      text-align: right;
      list-style-type: none;
    }
    
    ul#quotes li ul.actions,
    div.quote ul.actions
    {
      visibility: hidden;
      padding-top: 1em;
    }
    
    ul#quotes li:hover ul.actions,
    div.quote:hover ul.actions
    {
      visibility: visible;
    }

      ul#quotes li ul.actions li,
      ul#quotes li ul.meta li,
      div.quote ul.actions li,
      div.quote ul.meta li
      {
        display: inline;
        padding: 0;
        border: none;
      }
      
      ul#quotes li ul.actions li,
      div.quote ul.actions li
      {
        margin: 0 0.5em;
      }
      
      ul#quotes li ul.actions li a,
      ul#quotes li ul.meta li a,
      ul#quotes li ul.meta,
      div.quote ul.actions li a,
      div.quote ul.meta li a,
      div.quote ul.meta
      {
        color: #777;
      }
      
      ul#quotes li ul.actions li a:hover,
      ul#quotes li ul.actions li a:focus,
      ul#quotes li ul.actions li a:active,
      ul#quotes li ul.meta li a:hover,
      ul#quotes li ul.meta li a:focus,
      ul#quotes li ul.meta li a:active,
      div.quote ul.actions li a:hover,
      div.quote ul.actions li a:focus,
      div.quote ul.actions li a:active,
      div.quote ul.meta li a:hover,
      div.quote ul.meta li a:focus,
      div.quote ul.meta li a:active
      {
        background: none;
        color: #ccc;
      }
      
    ul#quotes li ul.meta,
    div.quote ul.meta
    {
      margin: 0;
      padding-bottom: 1em;
    }
    
      ul#quotes li ul.meta li span.positive,
      div.quote ul.meta li span.positive
      {
        color: #c6e567;
      }
      
      ul#quotes li ul.meta li span.negative,
      div.quote ul.meta li span.negative
      {
        color: #ff4b4b;
      }
        
div#footer
{
  margin-top: 2.25em;
  padding: 3.25em 0;
  border-top: 1px solid #777;
}

  div#footer p
  {
    margin: 0;
    padding: 0;
  }

/* Forms */

fieldset
{
  margin: 0;
  padding: 0;
  border: none;  
}

  fieldset ol
  {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
    fieldset ol li
    {
      margin-bottom: 1em;
    }
  
      fieldset ol li label
      {
        display: block;
      }
      
      fieldset ol li input,
      fieldset ol li select,
      fieldset ol li textarea
      {
        font-family: 'Georgia', sans-serif;
      }
      
      fieldset ol li input,
      fieldset ol li select
      {
        padding: 0.1em;
        font-size: 1.5em;
      }
      
      fieldset ol li textarea
      {
        width: 100%;
        height: 10em;
        padding: 0.25em;
      }
      
/* Nick colours */
      
span.colour_0
{
  color: #c6e567;
}

span.colour_1
{
  color: #ff3366;
}

span.colour_2
{
  color: #93bedf;
}

span.colour_3
{
  color: #804070;
}

span.colour_4
{
  color: #ae9d22;
}

/* Other */

div.flash_info,
div.flash_notice
{
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

  div.flash_info a.close,
  div.flash_notice a.close
  {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    line-height: 1em;
    padding: 0.25em 0.46em;
    font-size: 0.75em;
    border-width: 1px;
    border-style: solid;
    background: #141414;
  }

  div.flash_info a.close:hover,
  div.flash_info a.close:focus,
  div.flash_info a.close:active
  div.flash_notice a.close:hover,
  div.flash_notice a.close:focus,
  div.flash_notice a.close:active
  {
    background: #333;
    border-color: #ccc;
    color: #ccc;
  }
  

div.flash_info
{
  background: black;
  border-color: #332828;
  color: #ccc;
}

  div.flash_info a.close
  {
    border-color: #332828;
    color: #bce567;
  }

div.flash_notice
{
  background: #484729;
  border-color: #878342;
  color: #e5de67;
}

  div.flash_notice a.close
  {
    border-color: #878342;
    color: #e5de67;
  }
  
div.pagination
{
  margin-top: 3.25em;
  padding-top: 2em;
  border-top: 1px solid #777;
  text-align: center;
}

  div.pagination a,
  div.pagination span
  {
    margin: 0 0.75em;
  }
  
span.umberlla
{
  padding-left: 0.5em;
  line-height: 0;
  font-size: 3em;
  color: #ff3366;
}