/* Document */

html
{
  background: #141414;
}

body
{
  width: 46em;
  max-width: 95%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #ccc;
}

/* Type */

a:link,
a:visited
{
  color: #6c8fbf;
  text-decoration: none;
}

a:hover,
a:focus,
a:active
{
  background: #000;
  color: #ff3366;
}

h1,
h2,
h3,
.large_serif
{
  font-family: 'Georgia', 'DejaVu Serif', 'Times', 'Times New Roman', serif;
}

h1,
h2
{
  font-weight: normal;
}

h1,
h2,
h3
{
  color: #c2e5a6;
}

h1
{
  margin-bottom: 1em;
  font-size: 3em;
}

h2
{
  line-height: 1.4em;
  font-size: 2em;
}

.large_serif
{
  line-height: 1.6em;
  font-size: 1.5em;
}

/* Blocks */

.left
{
  float: left;
}

.right
{
  float: right;
}

.clear_both
{
  clear: both;
}

.hide
{
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* Layout */

div#notification
{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.5em 0;
  background: #fff;
  text-align: center;
  color: #000;
}

ul#quotes
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

  ul#quotes > li,
  div#quote
  {
    padding: 1em;
    border-top: 1px dotted #333;
  }
  
  div#quote
  {
    border-bottom: 1px dotted #333;
  }
  
  ul#quotes > li.even,
  div#quote
  {
    background: #191919;
  }
  
  ul#quotes > li:hover,
  div#quote:hover
  {
    background: #252525;
  }
  
  ul#quotes li:hover ul.actions,
  div#quote:hover ul.actions
  {
    visibility: visible;
  }
  
  ul#quotes li ul.actions,
  div#quote ul.actions
  {
    visibility: hidden;
  }
  
  ul#quotes li ul.actions,  
  ul#quotes li ul.meta,
  div#quote ul.actions,
  div#quote ul.meta
  {
    clear: both;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.75em;
    color: #777;
    text-align: right;
  }
    
    ul#quotes li ul.actions li,
    ul#quotes li ul.meta li,
    div#quote ul.actions li,
    div#quote ul.meta li
    {
      display: inline;
      margin: 0 0.5em;
      
    }
    
      ul#quotes li ul.actions form,
      ul#quotes li ul.actions form fieldset
      {
        display: inline;
      }
    
      ul#quotes li ul.actions li a,
      ul#quotes li ul.meta li a,
      div#quote ul.actions li a,
      div#quote ul.meta li a
      {
        color: #777;
      }
      
      ul#quotes li ul.actions li a:hover,
      ul#quotes li ul.actions li a:focus,
      ul#quotes li ul.actions li a:active,
      ul#quotes li ul.meta li a:hover,
      ul#quotes li ul.meta li a:focus,
      ul#quotes li ul.meta li a:active,
      ul#quote ul.actions li a:hover,
      ul#quote ul.actions li a:focus,
      ul#quote ul.actions li a:active,
      ul#quote ul.meta li a:hover,
      ul#quote ul.meta li a:focus,
      ul#quote ul.meta li a:active
      {
        background: none;
        color: #ccc;
      }
      
      ul#quotes li ul.meta li span.positive,
      div#quote ul.meta li span.positive
      {
        color: #c6e567;
      }
    
      ul#quotes li ul.meta li span.negative,
      div#quote ul.meta li span.negative
      {
        color: #ff4b4b;
      }
      
      ul#quotes li blockquote,
      div#quote blockquote
      {
        margin: 0;
        padding: 0;
      }

        ul#quotes li blockquote p,
        div#quote blockquote p
        {
          margin: 0;
        }

        ul#quotes li blockquote p span.identifier,
        div#quote blockquote p span.identifier
        {
          float: left;
          display: block;
          width: 15%;
          padding-right: 1em;
          text-align: right;
          clear: left;
        }

        div#quote blockquote p#preview span.identifier
        {
          font-weight: bold;
        }

        ul#quotes li blockquote p span.text,
        div#quote blockquote p span.text
        {
          float: left;
          display: block;
          width: 80%;
        }
        
ul#paginator
{
  margin: 4em 0 0 0;
  padding: 2.25em 0 0 0;
  list-style-type: none;
  border-top: 1px solid #777;
  text-align: center;
}

  ul#paginator li
  {
    display: inline;
    margin: 0 1em;
  }
      
div#footer
{
  margin-top: 2.25em;
  padding: 3.25em 0;
  border-top: 1px solid #777;
}

  div#footer p
  {
    margin: 0;
    padding: 0;
  }

    div#footer p span.umberlla
    {
      padding-left: 0.5em;
      line-height: 0;
      font-size: 3em;
      color: #ff3366;
    }

/* Form */

form#new fieldset
{
  width: 100%;
}

fieldset
{
  margin: 0;
  padding: 0;
  border: none;
}

  fieldset ol
  {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
    fieldset ol li
    {
      margin-bottom: 1em;
    }
    
    fieldset ol li input,
    fieldset ol li select,
    fieldset ol li textarea
    {
      font-family: 'Georgia', sans-serif;
    }
    
    fieldset ol li input,
    fieldset ol li select
    {
      padding: 0.1em;
      font-size: 1.5em;
    }
    
    fieldset ol li textarea
    {
      width: 100%;
      height: 10em;
      padding: 0.25em;
    }
    