<h1>Quotes</h1>

<ol>
  <% @quotes.each do |quote| %>
    <li>
      <p>
        <%= link_to 'Approve', [:approve, :admin, quote], :method => 'put' %> | 
        <%= link_to 'Edit', [:edit, :admin, quote] %>
      </p>
      <%= render :partial => 'quotes/quote', :locals => { :quote => quote } %>
    </li>
  <% end %>
</ol>
