<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Quotes</title>

    <%= stylesheet_link_tag 'screen' %>
    <link href="<%= quotes_path %>.atom" rel="alternate" type="application/atom+xml" />
  </head>
  
  <body>
    <% if flash[:notice] %>
      <div class="flash_notice"><%= flash[:notice ]%></div>
    <% elsif flash[:info ]%>
      <div class="flash_info"><%= flash[:info] %></div>
    <% end %>
    
    <ul id="navigation">
      <li><%= link_to 'Quotes', quotes_path %></li>
      <% if current_user %>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to "Logout #{h(current_user.first_name)}", user_session_path(:id => current_user.id), :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
    
    <%= yield %>
  
    <div id="footer">
      <p class="left">
        <a href="http://ash.ms">Ashley</a> conceived this, 
        <a href="http://tatey.com">Tate</a> worked his magic...<br/>
        and then <a href="http://klepas.org">Pascal</a> came and squirted design everywhere. <span class="umberlla">&#9730;</span>
      </p>
      <span class="right">
        <a href="#navigation">Back to top &uarr;</a>
      </span>
      <div class="clear_both">
      </div>
    </div>
  </body>
</html>
